@use "../utilities/variables";
@use "../utilities/mixin";

h1{
text-align: center;
}
.pedidos {
text-align: center;

}
.botones-pedidos{
    display: flex;
    justify-content: center;
    gap: 20px;
}